body {
    background-color: white;
    color: rgb(8, 8, 8);
    font-family: 'Courier New', Courier, monospace;
}

.text{
    margin-top: -28%;
    margin-left: 40%;
    margin-right: 10%;
    font-size: 25px;
    font-weight: 600;
}

#keyboard {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: 90%;
    width: 90%;
}

#heading {
    margin-top: -30%;
    text-align: center;
    color: cornsilk;
    font-size: 80px;
    border-bottom: 2px solid cornsilk;
    border-top: 2px solid cornsilk;
}

#portrait{
    margin-left: 10%;
    margin-right: 60%;
    margin-top: 30%;
    height: 500px;
}

#en{

}